<h1 class="text-center mb-4">Your Orders</h1>

<% if @orders.any? %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Order #</th>
              <th>Order Date</th>
              <th>Order Total</th>
              <th>Order Details</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr class="align-middle">
                <td><%= order.id %></td>
                <td><%= order.created_at.strftime("%B %d, %Y") %></td>
                <td>$<%= '%.2f' % order.total %></td>
                <td><%= link_to 'View', order_path(order), class: "btn btn-outline-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-info text-center" role="alert">
    You have no orders.
  </div>
<% end %>
